body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: #222222;
}

.coin-search {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 16px;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  margin-left: 1rem;
  margin-right: .5rem;
}

.coin img {
  max-width: 50px;
  max-height: 50px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  flex-direction: row;
}

.coin-data p {
  display: flex;
  align-items: center;
}

.coin-price {
  min-width: 110px;
  text-align: center;
}

.coin-volume {
  min-width: 155px;
  text-align: center;
}

.coin-percent {
  text-align: center;
  width: 100%;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}